body {
    margin: 0;
    overflow: hidden;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background: #363636;
    color: #D3D3D3;
}

/*ディレクトリツリー*/
#directory-tree {
    float: left;
    height: 100%;
    width: 240px;
    overflow: scroll;
}

#directory-tree pre {
    margin: 2px;
    padding: 0 0 0 2px;
    overflow: inherit;
    white-space: nowrap;
    display: -webkit-box;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #D3D3D3;
    border: none;
    background-color: rgba(0,0,0,0);
}

#directory-tree ul, #directory-tree li {
    list-style-type: none;    
    padding: 0;
    margin: 0;
}

#directory-tree ul ul, #directory-tree li {
    padding: 0 0 0 8px
}

.tree-icon {
    width: 15px;
    height: 15px;
    background-size:100% 100%;
    float:left
}

.icon-expand-directory {
    background-image: url("../img/expand-folder.png");
}

.icon-contract-directory {
    background-image: url("../img/contract-folder.png");
}

.icon-file {
    background-image: url("../img/file.png");
}

#directory-tree-root > ul {
    height: 100%;
}

#directory-tree span, #directory-tree pre , #menu-bar a, .dropdown-menu a {
    cursor: context-menu;
}

/*エディター*/
#editor-area {
    position: absolute; 
    left: 240px; 
}

#editor-tabs {
    min-height: 26px;
}

#editor-tabs a {
    padding: 2px 4px 2px 4px;
    background: #424242;
    color: #D3D3D3;
}

.bold {
    font-weight: bold;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}
.CodeMirror-scroll {
    overflow-x: scroll;
}

.CodeMirror-hint {
    max-width: 100%;
}


.modal-body > center > table td {
    padding: 2px;
}

/*bootstrap拡張*/
.modal-content {
    background: #424242;
}

#menu-bar .nav > li > a {
    padding: 4px 15px;
    color: #eee;
}
.nav > li > a:hover, .nav > li > a:focus { 
    background-color: #428bca;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #428bca;
    border-color: #eee;
    color: #eee;
}

.dropdown-menu {
    background-color: #222222;    
}

.dropdown-menu > li > a {
    color: #E4E4E4;
}

.dropdown-menu > li > a:hover {
    background-color: #303030;
    color: #E7E7E7;
}

.dropdown-menu .divider {
    background-color: #585858;
}

input {
    color: black;
}

.highlight {
    background-color: gray !important;
}

/*スクロールバー*/
.custom-scrollbar::-webkit-scrollbar, .CodeMirror-vscrollbar::-webkit-scrollbar, .CodeMirror-hscrollbar::-webkit-scrollbar
{
    width: 10px;
    background: #eee;
}
.custom-scrollbar::-webkit-scrollbar:horizontal, .CodeMirror-vscrollbar::-webkit-scrollbar:horizontal, .CodeMirror-hscrollbar::-webkit-scrollbar:horizontal
{
    height: 10px;
}
.custom-scrollbar::-webkit-scrollbar-button, .CodeMirror-vscrollbar::-webkit-scrollbar-button, .CodeMirror-hscrollbar::-webkit-scrollbar-button
{
    width: 10px;
    height: 10px;
    background: #666;
}
.custom-scrollbar::-webkit-scrollbar-piece, .CodeMirror-vscrollbar::-webkit-scrollbar-piece, .CodeMirror-hscrollbar::-webkit-scrollbar-piece
{
    background: #eee;
}
.custom-scrollbar::-webkit-scrollbar-piece:start, .CodeMirror-vscrollbar::-webkit-scrollbar-piece:start, .CodeMirror-hscrollbar::-webkit-scrollbar-piece:start
{
    background: #eee;
}
.custom-scrollbar::-webkit-scrollbar-thumb, .CodeMirror-vscrollbar::-webkit-scrollbar-thumb, .CodeMirror-hscrollbar::-webkit-scrollbar-thumb
{
    background: #3C3C3C;
    border: solid 1px #696969;

}
.custom-scrollbar::-webkit-scrollbar-corner, .CodeMirror-vscrollbar::-webkit-scrollbar-corner, .CodeMirror-hscrollbar::-webkit-scrollbar-corner
{
    background: #333;
}

.CodeMirror-vscrollbar {
    height: 100%;
}

.CodeMirror-hscrollbar {
    width: 100%;
}

.CodeMirror-scrollbar-filler {
    width: 10px!important;
    height: 10px!important;
    background: #666;
}