body {
    margin: 0;
    overflow: hidden;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background: #363636;
    color: #D3D3D3;
}

/*ディレクトリツリー*/
#directory-tree {
    float: left;
    height: 100%;
    width: 240px;
    overflow: scroll;
}

#directory-tree pre {
    margin: 2px;
    padding: 0 0 0 2px;
    overflow: inherit;
    white-space: nowrap;
    display: -webkit-box;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #D3D3D3;
    border: none;
    background-color: rgba(0,0,0,0);
}

#directory-tree ul, #directory-tree li {
    list-style-type: none;    
    padding: 0;
    margin: 0;
}

#directory-tree ul ul, #directory-tree li {
    padding: 0 0 0 8px
}

.tree-icon {
    width: 15px;
    height: 15px;
    background-size:100% 100%;
    float:left
}

.icon-expand-directory {
    background-image: url("../img/expand-folder.png");
}

.icon-contract-directory {
    background-image: url("../img/contract-folder.png");
}

.icon-file {
    background-image: url("../img/file.png");
}

/*エディター*/
#editor-area {
    position: absolute; 
    left: 240px; 
}

#editor-tabs a {
    padding: 2px 4px 2px 4px;
    background: #424242;
    color: #D3D3D3;
}

.bold {
    font-weight: bold;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}
.CodeMirror-scroll {
    overflow-x: scroll;
}

/*bootstrap拡張*/
.modal-content {
    background: #424242;
}