<div class="modal-header" style="padding: 0 0 0 20px">
    <h4>{{params.title}}</h4>
</div>
<div class="modal-body">
    <center>
        <table border="1" cellspacing="8">
            <tr>
                <td>Ctrl + B</td><td>behat実行</td>
            </tr>
            <tr>
                <td>Alt + B</td><td>behat実行(エラー時中止)</td>
            </tr>
            <tr>
                <td>Ctrl + Shift + B</td><td>未定義のスニペットを表示</td>
            </tr>
            <tr>
                <td>Ctrl + S</td><td>編集中のファイルを保存する</td>
            </tr>
            <tr>
                <td>Ctrl + F</td><td>文字列検索</td>
            </tr>
            <tr>
                <td>Ctrl + G</td><td>次を検索</td>
            </tr>
            <tr>
                <td>Ctrl + Shift + G</td><td>前を検索</td>
            </tr>
            <tr>
                <td>Ctrl + Shift + F</td><td>置換</td>
            </tr>
            <tr>
                <td>Ctrl + Shift + R</td><td>一括置換</td>
            </tr>
            <tr>
                <td>Ctrl + Space</td><td>定義済みのスニペット、編集中のファイルの英単語の補完</td>
            </tr>
            <tr>
                <td>Ctrl + W</td><td>アクティブなタブを閉じる</td>
            </tr>
            <tr>
                <td>Ctrl + Shift + W</td><td>すべてのタブを閉じる</td>
            </tr>
        </table>
    </center>
</div>
