<html ng-app='winbehat' lang="ja">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="js/lib/bootstrap/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="js/lib/codemirror/codemirror.css">
        <link rel="stylesheet" type="text/css" href="js/lib/codemirror/addon/dialog/dialog.css">
        <link rel="stylesheet" type="text/css" href="js/lib/codemirror/addon/hint/show-hint.css">
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <script src="./js/lib/codemirror/codemirror.js"></script>
        <script src="./js/lib/angular/angular.js"></script>
        <script src="./js/lib/angular-route/angular-route.js"></script>
        <script src="./js/lib/angular-ui-codemirror/ui-codemirror.js"></script>
        <script src="./js/lib/codemirror/addon/edit/matchbrackets.js"></script>
        <script src="./js/lib/codemirror/addon/edit/closebrackets.js"></script>
        <script src="./js/lib/codemirror/addon/edit/closetag.js"></script>
        <script src="./js/lib/codemirror/addon/comment/comment.js"></script>
        <script src="./js/lib/codemirror/addon/comment/continuecomment.js"></script>
        <script src="./js/lib/codemirror/addon/hint/show-hint.js"></script>
        <script src="./js/lib/codemirror/addon/hint/anyword-hint.js"></script>
        <script src="./js/lib/codemirror/addon/hint/css-hint.js"></script>
        <script src="./js/lib/codemirror/addon/hint/html-hint.js"></script>
        <script src="./js/lib/codemirror/addon/hint/javascript-hint.js"></script>
        <script src="./js/lib/codemirror/addon/hint/pig-hint.js"></script>
        <script src="./js/lib/codemirror/addon/hint/python-hint.js"></script>
        <script src="./js/lib/codemirror/addon/hint/sql-hint.js"></script>
        <script src="./js/lib/codemirror/addon/hint/xml-hint.js"></script>
        <script src="./js/lib/codemirror/addon/dialog/dialog.js"></script>
        <script src="./js/lib/codemirror/addon/search/searchcursor.js"></script>
        <script src="./js/lib/codemirror/addon/search/search.js"></script>
        <script src="./js/lib/codemirror/addon/search/match-highlighter.js"></script>
        <script src="./js/lib/codemirror/addon/selection/mark-selection.js"></script>
        <script src="./js/lib/codemirror/addon/selection/active-line.js"></script>
        <script src="./js/lib/codemirror/addon/mode/loadmode.js"></script>
        <script src="./js/lib/codemirror/mode/htmlmixed/htmlmixed.js"></script>
        <script src="./js/lib/codemirror/mode/xml/xml.js"></script>
        <script src="./js/lib/codemirror/mode/javascript/javascript.js"></script>
        <script src="./js/lib/codemirror/mode/css/css.js"></script>
        <script src="./js/lib/codemirror/mode/clike/clike.js"></script>
        <script src="./js/lib/codemirror/mode/php/php.js"></script>
    </head>
    <body>
        <div id="directory-tree" ng-controller="directoryTreeController">
            <div>
                <input type="file" nwdirectory onchange="angular.element(this).scope().openDirectory(this);" />
            </div>
            <div ng-if="hasFilelist">
                <dirctory-tree-node file="filelist"></dirctory-tree-node>
            </div>
        </div>
        <div id='editor-area' ng-controller="textEditorController">
            <div class="tabbable"> 
                <ul id="editor-tabs" class="nav nav-tabs"> 
                    <li ng-repeat="file in editFilelist" ng-class="{active:file.isSelected}">
                        <a ng-click="select(file)">{{file.name}}<button class="close" title="閉じる" type="submit" ng-click="remove($index)">x</button></a> 
                    </li> 
                </ul> 
                <div class="tab-content"><textarea ui-codemirror="editorOptions" ng-model="x" resize-code-mirror style="height: {{windowHeight}}px; width: {{windowWidth-240}}px"></textarea></div> 
            </div>
        </div>
    </body>

    <script src="./js/win-behat.js"></script>
    <!--<script src="./js/win-behat.min.js"></script>-->
</html>
